<!DOCTYPE HTML>
<html>
  <head>
    <title>Macky's Bowling Alley</title>
  </head>
  <body>
    <h1>Macky's Bowling Alley</h1>
    <h2>Where the pins strike you!</h2>
    <p>123 Dream Street, Rockville, MD 05500</p>
  </body>
</html>
